/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Consolas, monaco, monospace;
}

/* Default Elements */
html, body {
    height: 100%;
}



@media (max-width: 623px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 858px) {
    html {
        font-size: 30px;
    }
}

/* General Elements */
body{
    background-color: #1e1e1e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.bodyLight{
    background-color: #ffffff;
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: #d7ba7d;
}

a:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.light{
    text-decoration: none;
    color: #800000;
}

.light:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}


#mainWrapper {
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

/* Dictonary */
.line{
    color: white;
    text-align: left;
    display: flex;
    margin-right: 10px;
}

.lineLight{
    color: black;
    text-align: left;
    display: flex;
    margin-right: 10px;
}

.innerLine{
    
    margin-left: 60px;
    text-align: left;
    display: flex;
    margin-right: 5px;
    color: white;
    flex-wrap: wrap
}

.innerLineLight{
    margin-left: 60px;
    text-align: left;
    display: flex;
    margin-right: 5px;
    color: black;
    flex-wrap: wrap
}

.valueWrap{
    display: inline-block;
    white-space: nowrap;
}

.key{
    color:#9cdcfe;
}

.keyLight{
    color: #ff0000;
}

.number{
    color:#b5cea8;
}

.numberLight{
    color:#208658;
}

.var{
    color: #569cd6;
    margin-right: 10px;
}

.varLight{
    color: #0000ff;
    margin-right: 10px;
}

.varName{
    color: #d7ba7d;
    margin-right: 10px;
}

.varNameLight{
    color: #800000;
    margin-right: 10px;
}

.value{
    color: #ce9178;
    display: inline-block;
    white-space: nowrap;
}

.valueLight{
    color: #0451a5;
    display: inline-block;
    white-space: nowrap;
}

.comment{
    color: #6a9955;
}

.commentLight{
    color: #008000;
}

.colon{
    margin-right: 10px;
}

/* Darkmode */
.buttonWrapper{
    position: absolute;
    top: 25px;
    right: 25px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #101010;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #cccccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



